html {
  width: 100%;
  /* font-family: 'Poppins', sans-serif !important; */
  /* font-family: 'Montserrat', sans-serif !important; */
  font-family: 'Rubik', sans-serif !important;
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}

.shine {
  /* DON'T USE TEXT COLOR */
  background: linear-gradient(to right, #999 0, #333 10%, #999 20%);
  background-position: 0;
  background-clip: text;
  color: transparent !important;
  animation: shine 1.5s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 750px;
  }
}

.h-font {
  /* font-family: 'Poppins', sans-serif !important; */
  font-family: 'Bricolage Grotesque', sans-serif !important;
  /* font-family: 'Rubik', sans-serif !important; */
  /* font-family: 'Montserrat', sans-serif !important; */
}

.k-font {
  font-family: 'Bricolage Grotesque', sans-serif !important;
  /* font-family: 'Manrope', sans-serif !important; */
}

.bg-gradient {
  background: linear-gradient(60deg, rgba(254, 184, 42, 0.5) -58%, rgba(238, 49, 131, 0.5) 72%, rgba(124, 113, 253, 0) 104%), linear-gradient(242deg, rgba(254, 184, 42, 0) -8%, rgba(238, 49, 131, 0.5) 36%, rgba(124, 113, 253, 0) 68%);
}

/* Desktop */
@media (min-width: 700px) {
  .bg-blurry {
    background: url(/images/bg-blurry.svg);
  }
}

/* Mobile */
@media (max-width: 699px) {
  .bg-blurry {
    background: url(/images/bg-blurry.svg);
    background-size: 125vh;
  }
}

.bg-spiral {
  background: url(/images/bg-spiral.svg);
}

.bg-spiral-clear {
  background: url(/images/bg-spiral.svg);
  background-size: cover;
}


.gdesc-inner, .gslide-description, .description-bottom {
  padding: 0 !important;
  background: rgba(0, 0, 0, .05) !important;
  font-family: 'Rubik', sans-serif !important;
}


*::selection {
  background-color: #111;
  opacity: .15;
  color: white;
}

:root {
  --thumbScroll: #cbd5e0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--thumbScroll);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumbScroll);
}

::-webkit-scrollbar-thumb:active {
  background: var(--thumbScroll);
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.glassmorph-thin {
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.glassmorph-0 {
  background: rgba(255, 255, 255, 0.015);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassmorph-1 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassmorph-2 {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassmorph-3 {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassmorph-4 {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassmorph-5 {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassmorph-6 {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassmorph-7 {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassmorph-8 {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.glassmorph-9, .glassmorph-blurry {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.selectContainer input::placeholder {
  color: rgb(107, 114, 128) !important;
}

/* Wrap select-item-1 container around Svelte Select Component */

.select-item-1 .selectContainer {
  z-index: 10 !important;
}

.select-item-2 .selectContainer {
  z-index: 9 !important;
}

.select-item-3 .selectContainer {
  z-index: 8 !important;
}

.select-item-4 .selectContainer {
  z-index: 7 !important;
}

.select-item-5 .selectContainer {
  z-index: 6 !important;
}

.select-item-6 .selectContainer {
  z-index: 5 !important;
}


/* PRICING PAGE */

/* @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap"); */

.great-container {
  height: 100%;
  min-height: 100vh;
}

.great-container {
  display: grid;
  place-items: center;
  color: #111;
  background-color: #fafafa;
  /* Set Background Image Here */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.main {
  max-width: 75rem;
  padding: 3em 1.5em;
}

.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #111;
}

.waf-groupCards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.waf-groupCard {
  --flow-space: 0.25em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 1.5em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #111;
  background-color: white;
  border: 1px solid #00000015;
  border-radius: 15px;
}

.waf-groupCard:nth-child(1) {
  --hue: 165;
  --saturation: 82.26%;
  --lightness: 51.37%;
}

.waf-groupCard:nth-child(2) {
  --hue: 37;
  --saturation: 56%;
  --lightness: 59%;
}

.waf-groupCard:nth-child(3) {
  --hue: 123;
  --saturation: 46%;
  --lightness: 34%;
}

/* .card__bullets {
  line-height: 1.2;
} */

/* .card__bullets li::before {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' title='check' fill='%23dddddd'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' /%3E%3C/svg%3E");
  transform: translatey(0.25ch);
  margin-right: 1ch;
} */

.card__heading {
  font-size: 1em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow>*+* {
  margin-top: var(--flow-space, 1em);
}

.waf-groupCta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0d0d0d;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.waf-groupOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(25rem 25rem at var(--x) var(--y),
      #000 1%,
      transparent 50%);
  mask: radial-gradient(25rem 25rem at var(--x) var(--y),
      #000 1%,
      transparent 50%);
  transition: 400ms mask ease;
  will-change: mask;
}

.waf-groupOverlay .waf-groupCard {
  background-color: hsla(var(--hsl), 0.15);
  border-color: hsla(var(--hsl), 1);
  box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.waf-groupOverlay .waf-groupCta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.waf-groupOverlay)>.waf-groupCard {
  transition: 400ms background ease;
  will-change: background;
}